* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
body {
  background-image: url(../images/bluryTv.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  color: white;
  font-family: monospace;
  font-size: 2em;
}
